.sidebar {
    height: calc(100vh - 54px); /* 54 pixel is the height of your .navbar */
}

.sidebar-heading{
    color: white;
    background-color: #3a3a3a;
    padding: 5px;
    margin-bottom: 0px;
}

.navbar{
    background-color: black;
}

body{
    overflow-x: hidden;
}