.sidebar-heading{
    color: white;
    background-color: #3a3a3a;
    padding: 5px;
    margin-bottom: 0px;
}

.sidenav{
    position: -webkit-sticky;
	position: sticky;
    top: 0;
    height: 100vh;
}

.navbar{
    background-color: black;
}

body{
    overflow-x: hidden;
}
